@model MalzemeTakip.Models.ViewModels.EditYemekRequest

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Yemek Düzenle</h1>
    </div>
</div>

<div class="container py-5">
    @if (Model != null)
    {
        <form method="post">
            <div class="mb-3">
                <label class="form-label">Id</label>
                <input type="text" id="Id" class="form-control" asp-for="Id" readonly />
            </div>
            <div class="mb-3">
                <label class="form-label">Yemek Adı</label>
                <input type="text" id="YemekName" class="form-control" asp-for="YemekName" />
            </div>

            <div class="mb-3">
                <label class="form-label">Malzemeler</label>
                <ul>
                    <!-- Malzemeleri liste halinde göstermek için ul elementi kullanılıyor -->
                    @for (var i = 0; i < Model.MalzemeYemekler.Count(); i++)
                    {
                        var malzemeYemek = Model.MalzemeYemekler.ElementAt(i);
                        <li>
                            @if (malzemeYemek != null)
                            {
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <span>Malzeme Adı: @malzemeYemek.MalzemeName</span>
                                    </div>
                                    <div>
                                        <span>Miktar: <input type="text" asp-for="@malzemeYemek.Miktar" /></span>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <p>Malzeme bilgisi bulunamadı!</p>
                            }
                        </li>
                    }
                </ul>
            </div>




            <div class="mb-3">
                <div class="d-flex">
                    <button type="submit" class="btn btn-dark">Güncelle</button>

                    <button class="btn btn-danger ms-2" type="submit"
                            asp-area=""
                            asp-controller="Yemek"
                            asp-action="Delete">
                        Sil
                    </button>
                </div>

            </div>

        </form>
    }
    else
    {
        <p>Yemek Bulunamadı!</p>
    }
</div>
